# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
env/
.venv/
ENV/
.ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Pyre type checker
.pyre/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyright
pyrightconfig.json

# PyCharm / VSCode
.idea/
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints

# Local files
*.log
*.sqlite3
*.db
*.pem
*.key

# dotenv
.env
.env.*

# FastAPI static/docs
static/
docs/

# Docker
*.pid
*.pid.lock

# Optional for macOS and Linux
.DS_Store
Thumbs.db

# Optional for Windows
*.bak
*.swp
*~
